/* Coolors Exported Palette - coolors.co/91c7b1-54494b-8c5e58-f1f7ed-f4e9cd */

/* HSL */
$color1: hsla(156%, 33%, 67%, 1);
$color2: hsla(349%, 7%, 31%, 1);
$color3: hsla(7%, 23%, 45%, 1);
$color4: hsla(96%, 38%, 95%, 1);
$color5: hsla(43%, 64%, 88%, 1);

/* RGB */
$color1: rgba(145, 199, 177, 1);
$color2: rgba(84, 73, 75, 1);
$color3: rgba(140, 94, 88, 1);
$color4: rgba(241, 247, 237, 1);
$color5: rgba(244, 233, 205, 1);